<% provide(:title, '') %>
<div class="center hero-unit">
	<h1>Hotel Advisor</h1>
	<h2>
		This page is start page my app.	
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


