<% provide(:title, 'Create new user') %>
<h1>Create new user</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'users/fields', f: f %>
      <%= f.submit "Create new user", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>