<% if admin_user? %>
	<% provide(:title, 'Create user') %>
	<h1>Create user</h1>
<% else %>
	<% provide(:title, 'Sign up') %>
	<h1>Sign Up</h1>
<% end %>
<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <% if admin_user? %>
      	<%= render 'admin/admin', f: f %>
      <% end %>
      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
